<!-- Copyright (c) [2016] [David Walker] - MIT License - see License.txt -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor
			    type="Sitecore.SharedSource.AdvancedSiteProvider.AdvancedSiteProviderSiteResolver, Sitecore.SharedSource.AdvancedSiteProvider"
			    patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.SiteResolver, Sitecore.Kernel']"/>
      </httpRequestBegin>
    </pipelines>
    <siteManager>
      <patch:attribute name="defaultProvider">allProviders</patch:attribute>
      <providers>
        <add
            name="allProviders" type="Sitecore.SharedSource.AdvancedSiteProvider.AllProviders, Sitecore.SharedSource.AdvancedSiteProvider"
            checkSecurity="false"
            patch:before="add[@name='config']"/>
        <add
          name="advancedSiteProvider"
          type="Sitecore.SharedSource.AdvancedSiteProvider.AdvancedSiteProvider, Sitecore.SharedSource.AdvancedSiteProvider"
          checkSecurity="false"
          patch:after="add[@name='config']"/>
      </providers>
    </siteManager>
  </sitecore>
</configuration>